*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.wrapper{
    width:600px;
    text-align:center;
}

.header h1{
    margin-bottom:10px;
}

.info{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}

.card{
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    width:48%;
}

canvas{
    background:#0f172a;
    border:2px solid #334155;
    border-radius:10px;
}

.menu,
.buttons{
    margin-top:20px;
}

button,
select{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    margin:5px;
    cursor:pointer;
}

button{
    background:#22c55e;
    color:white;
}

.instructions{
    margin-top:20px;
    color:#cbd5e1;
}

.popup{
    display:none;
}